<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div class="chatContainer">
                <h3>Send message!</h3>
                <textarea ng-model="message" name="chat_message" id="chat_message" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="col-xs-6">
            <h3>Messages recived!</h3>
            <div class="messageContainer"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-success" ng-click="sendMessage()">Send message</button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-success" ng-click="clearChat()">Clear chat</button>
        </div>
    </div>
</div>