<div class="container-fluid">
    <div class="row rowContainer">
        <div class="col-xs-8 doctorsContainer">
            <ul>
                <li ng-repeat = 'doctor in main.doctors' class="clearfix">
                    <div class="col-xs-4">
                        <h3>{{doctor.name}}</h3>
                    </div>
                    <div class="col-xs-4 buttonContainer">
                        <button class="btn btn-info"><a href="#!/chat">Iniciar chat</a></button>
                        <button class="btn btn-info"><a href="#!/videoChat">Iniciar video consulta</a></button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



