<div class="panel">
    <div class="panel-heading">
        <h1>{{videoChat.desc}}</h1>
    </div>
    <div class="panel-body">
        <h3>Video directive</h3>
        <video-chat
                userId="{{videoChat.myUser.id}}"
                doctorId="{{videoChat.myDoctor.id}}"
                muted = true
                min-width = "minWidth"
                broadcastHandler = "startBroadcast()",
                max-num-peers = "maxNumPeers">
        </video-chat>
    </div>
</div>