<div class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <div id="localVideo"></div>
        </div>
        <div class="col-xs-6">
            <div id="remotesVideos"></div>
        </div>
    </div>
    <h3>Content goes here!</h3>
    <div class="row">
        <div class="col-xs-3">
            <button class="btn btn-success" ng-click="prepareRoom()">Prepare</button>
        </div>
        <div class="col-xs-3">
            <button class="btn btn-danger" ng-click="leaveRoom()">Leave room</button>
        </div>
    </div>
    <div class="row">
        <ng-transclude></ng-transclude>
    </div>
</div>