/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;

}
.doctorsContainer {
  border: 1px solid;
  padding: 10px;
  border-bottom:0;
  border-right:0;
}

.doctorsContainer li{
  display: block;
  padding: 20px;
  border-bottom: 1px dotted;
}

.doctorsContainer a{
  text-decoration: none;
  color: white;
}

.rowContainer {
  padding: 20px;
}

.buttonContainer{
  display: flex;
}

button.btn.btn-info {
  margin-left: 5px;
}